<% include partials/header %>
  <div class="container">
    <div class="jumbotron">
      <h1>Yelpcamps Featued Campgrounds</h1>
      <a href="/campgrounds/new" class="btn btn-dark btn-md">Create New Campground</a>
    </div>
      <div class="row"> 
        <% camps.forEach((camp) => { %>
          <div class="col col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="card p-2">
              <img class="card-img-top rounded" src="<%= camp.src %>" alt="<%= camp.title %>">
              <div class="card-body justify-content-left">
                <h5 class="card-text"><%= camp.title %></h5>
                <a href="/campgrounds/<%= camp._id %>" class="btn btn-dark">Read More</a>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
  </div>
<% include partials/footer %>