<% include partials/header %>
  <div class="container jumbotron">
    <h1>Welcome To Yelpcamp</h1>
    <a class="btn btn-dark" href="/campgrounds">View all Camps</a>
  </div>
<% include partials/footer %>